* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(200, 196, 229);
}

.book-body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Book */
.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid rgb(200, 196, 229);
}

.back {
    z-index: 0;
}

img {
    width: 100%;
    height: 100%;
}
.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: rgb(101, 100, 158);
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover {
    color: #ffffff;
}

/* Paper stack order */
#p1 {
    z-index: 7;
}

#p2 {
    z-index: 6;
}

#p3 {
    z-index: 5;
}

#p4 {
    z-index: 4;
}

#p5 {
    z-index: 3;
}

#p6 {
    z-index: 2;
}

#p7 {
    z-index: 1;
}

a{
    color: rgb(255, 255, 255) !important;
}
    
a:hover{
    background-color: rgb(33, 27, 52) !important;
}
    
a:active{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(120, 113, 168) !important;
}

.mini-me{
    height:50px;
    width:50px;
    border-radius: 25%;
}

::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f6dcc0; 
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(101, 100, 158); 
  }
