html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    background-color: rgb(200, 196, 229);
}

.parallax{
    background-image: url("background.jpg");
    min-height: 100%;
    background-attachment: fixed !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-title{
    color: rgb(255, 255, 255) !important;
    font-family: 'Abril Fatface', cursive;
    font-size: 600%;
    margin-top: 250px;
    text-shadow: 5px 2px rgb(147, 133, 133);
}
    
.card-text{
    color: rgb(255, 255, 255) !important;
    font-family: 'Rubik', sans-serif;
    font-size: 120%;
    text-shadow: 2px 2px rgb(147, 133, 133);
}

.center-card{
    text-align: center;
    padding: 200px;
}

a{
    color: rgb(255, 255, 255) !important;
}
    
a:hover{
    background-color: rgb(33, 27, 52) !important;
}
    
a:active{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(120, 113, 168) !important;
}

.mini-me{
    height:50px;
    width:50px;
    border-radius: 25%;
}

.d-block{
    height: 1000px;
    width: 1000px;
}

.carousel-caption{
    text-shadow: 3px, 4px, 2px, black;
}

.flipbook-container {
    perspective: 1000px;
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
}

.flipbook {
    width: 50%;
    height: 50%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.page {
    position: absolute;
    width: 50%;
    height: 50%;
    backface-visibility: hidden;
    transform-origin: left;
    transition: transform 1s;
}

#page1 {
    background-color: lightblue;
}
#page2 {
    background-color: lightgreen;
    transform: rotateY(180deg);
}
#page3 {
    background-color: lightcoral;
    transform: rotateY(180deg);
}
#page4 {
    background-color: lightcoral;
    transform: rotateY(180deg);
}
#page5 {
    background-color: lightcoral;
    transform: rotateY(180deg);
}
#page6 {
    background-color: lightcoral;
    transform: rotateY(180deg);
}
#page7 {
    background-color: lightcoral;
    transform: rotateY(180deg);
}
#page8 {
    background-color: lightcoral;
    transform: rotateY(180deg);
}
#page9 {
    background-color: lightcoral;
    transform: rotateY(180deg);
}
#page10 {
    background-color: lightcoral;
    transform: rotateY(180deg);
}
#page11 {
    background-color: lightcoral;
    transform: rotateY(180deg);
}
#page12 {
    background-color: lightcoral;
    transform: rotateY(180deg);
}
#page13 {
    background-color: lightcoral;
    transform: rotateY(180deg);
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}