html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    background-color: rgb(200, 196, 229);
}

.parallax{
    background-image: url("background.jpg");
    min-height: 100%;
    background-attachment: fixed !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-title{
    color: rgb(255, 255, 255) !important;
    font-family: 'Abril Fatface', cursive;
    font-size: 600%;
    margin-top: 250px;
    text-shadow: 5px 2px rgb(147, 133, 133);
}
    
.card-text{
    color: rgb(255, 255, 255) !important;
    font-family: 'Rubik', sans-serif;
    font-size: 120%;
    text-shadow: 2px 2px rgb(147, 133, 133);
}

.center-card{
    text-align: center;
    padding: 200px;
}

.caption-title{
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.sub-caption{
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

a{
    color: rgb(255, 255, 255) !important;
}
    
a:hover{
    background-color: rgb(33, 27, 52) !important;
}
    
a:active{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(120, 113, 168) !important;
}

.mini-me{
    height:50px;
    width:50px;
    border-radius: 25%;
}

.d-block{
    height: 1000px;
    width: 1000px;
}

.carousel-caption{
    text-shadow: 3px, 4px, 2px, black;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

#profile{
    top: 100px;
    right: 100px;
    height: 400px;
    border-radius: 400px;
    position: relative;
    }
    
    .about-container{
    display: flex;
    justify-content: center;
    }

.about-text{
    height: 300px;
    width: 500px;
    top: 200px !important;
    position: relative;
    color: rgb(89, 85, 119);
    font-family: 'Rubik', sans-serif !important;
    background-color:rgb(200, 200, 223, 0.6);
    border-radius: 20%;
    padding: 2%;
    }

.pdf{
    top: 200px;
    position: relative;
  }

::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f6dcc0; 
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(101, 100, 158); 
  }
